extends layout

block content
    main.main
        section.intro
            if message
                h3.indexmes #{message}
            if success&&user
                h3.welcome #{success}，Welcom #{user} come to Manageaddress
            else if !success&&user
                h3.welcome Welcome #{user} come to Manageaddress
            else
                h3.welcome Welcome to Manageaddress
            h3.tech Manageaddress is used to manage the contact
            p.btnlist
                if user
                    a.login(href = '/logout') quit
                    a.userlink(href = '/add') add
                else
                    a.login(href = '/login') login
                    a.register(href = '/reg') register
        if contact
            section.show
                table.gridtable
                        tr
                            td name
                            td phone
                            td address
                            td action
                                - for(var i=0;i<contact.length;i++)
                                    tr
                                        td #{contact[i].name}
                                        td #{contact[i].phone}
                                        td #{contact[i].address}
                                        td  
                                            a.login(href = '/del/#{contact[i].id}') delete